@media (max-width:1025px) {
    .skill-info-card h6 {
        font-size: 1.1rem;
    }

    .skill-info p {
        font-size: 0.9rem;
    }

    .skill-info-content {
        padding: 1.5rem;
    }
}